/*!
 * Start Bootstrap - Small Business (https://startbootstrap.com/templates/small-business)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-small-business/blob/master/LICENSE)
 */
 body {
  padding-top: 56px;
  overflow-x: hidden;
}
#main_map{
  margin-top: 15px;
  height: 500px;
}
