extends ../layout

block content
    a(href='/bicicletas/') Volver

    form(action='/bicicletas/create' method='post')
        .form-row
        .form-group.col-md-6
        label(for='id') ID
        input#id(type="text" name='id')
        br
        .form-group.col-md-6
        label(for='color') Color
        input#color(type='text' name='color')
        .form-group
        label(for='modelo') modelo
        input#modelo(type='text' name='modelo')
        .form-group
        label(for='lat') latitud
        input#lat(type='text' name='lat')
        .form-group.col-md-6
        label(for='long') longitud
        input#long(type='text' name='long')
        br
        br
        button.btn.btn-primary(type='submit') Sign in