extends ../layout

block content
    a(href='/bicicletas/') Volver
    br
    h1 Modificando Bicicleta

    form(action=`/bicicletas/${bici.id}/update` method='post')
        .form-row
        .form-group.col-md-6
        label(for='id') ID
        input#id(type="text" name='id' value=bici.id)
        br
        .form-group.col-md-6
        label(for='color') Color
        input#color(type='text' name='color' value=bici.color)
        .form-group
        label(for='modelo') modelo
        input#modelo(type='text' name='modelo' value=bici.modelo)
        .form-group
        label(for='lat') latitud
        input#lat(type='text' name='lat' value=bici.ubicacion[0])
        .form-group.col-md-6
        label(for='long') longitud
        input#long(type='text' name='long' value=bici.ubicacion[1])
        br
        br
        button.btn.btn-primary(type='submit') Sign in